
/* Corpo  */

body {
  background: -moz-linear-gradient(top, rgba(86,0,156,1) 50%, rgba(101,0,126,1) 89%, rgba(105,0,117,1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

/* Imagem Logo Index  */
#imagem_logo_login {
  margin-left: 14%;
  margin-top: 10%;
  width: 400px;
  height: 400px;
}

/* Formulario Login  */

#titulo_formulario {
  font-style: normal;
  font-size: 10pt;
  margin-left: 43%;
}

#formulario_login {
  background-image: url("../images/signin_container.png");
  width: 535px;
  height: 654px;
  float: right;
  margin-top: 1%;
}

#botao_entrar {
    background-color: #512DA8;
    width: 240px;
    height: 45px;
    border-radius: 25px;
    font-size: 10pt;
    font-style: normal;
    margin-left: 36%;
    margin-top: 3%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4), 0 3px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}

#botao_entrar:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

#link_cadastro {
  font-size: 9pt;
  color: #696969;
  width: 300px;
  margin-top: 3%;
  margin-left: 38%;
}

/* Fim Formulario Login  */

/* Formulario Geral  */
form {
  margin-top: 40%;
  margin-left: 10%;
}

form .email, .senha {
  margin-left: 22%;
}

form .email label, .senha label {
  font-size: 9pt;
}

/* Fim Formulario Geral  */
footer {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;
  margin-left: 6%;
  margin-bottom: 10%;
}

.footerInfo-1 img {
  margin-left: 0%;
}

.footerInfo-1 p {
  text-align: center;
  width: 250px;
  margin-left: 10%;
  font-weight: lighter;
}

.footerInfo-1 {
  text-align: center;
  font-size: 10pt;
  color: white;
  margin-top: 20%;
  margin-left: 10%;
}

.footer-copyright {
  position: relative;
  height: 45px;
  width: 100%;
  background-color: #333333;
  opacity: 0.6;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 10px;
  font-size: 0.8em;
  text-align: center;
  bottom:0;
}