.demo-card-wide.mdl-card {
    width: 880px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 530px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  #botao_confirmar {
    width: 120px;
    height: 40px;
    font-size: 10pt;
    font-style: normal;
    margin-top: 22%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.4), 0 3px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}

.mdl-data-table {
    table-layout:fixed;
    width:100%; 
}

table td, th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


/* unrelated to responsive table css */
table {
  margin-top:14px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th, td{
  text-align: left !important;
}
.center{
  text-align:center;
}