<html>

<head>
    <title>Reservas</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="./css/getmdl-select.min.css">
    <link rel="stylesheet" href="./css/reserva.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body onload="loadReserve()">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-shadow--2dp" style="background-color: #fff">
                <div class="mdl-grid" id="details_reserve">
                    <div class="mdl-cell--middle mdl-cell--10-col" id="loader">
                        <div class="mdl-spinner mdl-js-spinner is-active" style="margin-left: 50%;"></div>
                    </div>
                    <script id="reserve_template" type="text/template">
                    <div class="mdl-cell mdl-cell--3-col">
                        <h6 style="color:rgb(188, 188, 188);">Usuário</h6>
                        <h6 style="margin-top: -4px;">{{ username }}</h6>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <h6 style="color:rgb(188, 188, 188);">Pessoas</h6>
                        <h6 style="margin-top: -4px;">{{ numberOfPeople }}</h6>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <h6 style="color:rgb(188, 188, 188);">Hora de chegada</h6>
                        <h6 style="margin-top: -4px;">{{ hourEntrance }}</h6>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <h6 style="color:rgb(188, 188, 188);">Data</h6>
                        <h6 style="margin-top: -4px;">{{ dateEntrance }}</h6>
                    </div>
                </script>
                </div>
                <div class="mdl-card__actions mdl-card--border"></div>
                <div class="mdl-grid" style="margin-top: -30px;">
                    <div class="mdl-cell mdl-cell--2-col">
                        <h6 style="color:rgb(188, 188, 188);">Escolher Mesa</h6>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height" style="margin-top: -14px;">
                            <input type="text" value="" class="mdl-textfield__input" id="sample5" readonly>
                            <input type="hidden" value="" name="sample5">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            <label for="sample5" class="mdl-textfield__label">Mesa</label>
                            <ul for="sample5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                <li class="mdl-menu__item" data-val="BY">Belarus</li>
                                <li class="mdl-menu__item" data-val="BR">Brazil</li>
                                <li class="mdl-menu__item" data-val="ES">Estonia</li>
                                <li class="mdl-menu__item" data-val="FI">Finland</li>
                                <li class="mdl-menu__item" data-val="FR">France</li>
                                <li class="mdl-menu__item" data-val="DE">Germany</li>
                                <li class="mdl-menu__item" data-val="PL">Poland</li>
                                <li class="mdl-menu__item" data-val="RU">Russia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--bottom mdl-cell--1-col">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="botao_confirmar">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPT -->
    <script src="./js/libs/jquery.3.3.1.min.js"></script>
    <script src="./js/libs/mustache.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="./js/reserve.js"></script>
    <script defer src="./js/libs/getmdl-select.min.js"></script>
    <script src="./js/pages.js"></script>
</body>

</html>