<html>

<head>
    <title>Home</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body onload="loadUser()">
    <!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <div class="mdl-layout__drawer">
            <script id="user_template" type="text/template">
                <h6 style="margin-left: 15%;">{{ name }}</h6>
            </script>
            <div id="user_name"></div>
            <button class="mdl-button mdl-js-button" onclick="redirectTo('Home')" style="color: gray; margin-top: 10px;">
                <span class="mdl-layout-title">Painel | Reserve ja</span>
            </button>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="javascript:redirectTo('Reservas');">
                    <i class="material-icons" style="margin-right: 20px;">assignment</i>Reservas</a>
                 <a class="mdl-navigation__link" href="javascript:redirectTo('Mesas');">
                    <i class="material-icons" style="margin-right: 20px;">local_dining</i>Mesas</a>
                <!-- <a class="mdl-navigation__link" href="javascript:redirectTo('Feedbacks');">
                    <i class="material-icons" style="margin-right: 20px;">record_voice_over</i>Feedbacks</a>
                <a class="mdl-navigation__link" href="javascript:redirectTo('Conta');">
                    <i class="material-icons" style="margin-right: 20px;">person</i>Conta</a> -->
                <a class="mdl-navigation__link" href="javascript:doLogout();">
                    <i class="material-icons" style="margin-right: 20px;">reply</i>Sair</a>
            </nav>
        </div>
        <main class="mdl-layout__content" style="background-color:#512DA8 ">
            <div class="page-content">
                <iframe id="iframe" style="position: relative; height: 100%; width: 100%;" src="Home.html"></iframe>
            </div>
        </main>
    </div>

    <!-- SCRIPT -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="./js/libs/jquery.3.3.1.min.js"></script>
    <script src="./js/libs/mustache.js"></script>
    <script src="./js/pages.js"></script>
    <script src="./js/home.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>