<html>

<head>
  <title>Reservas</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reserva.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-indigo.min.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body onload="loadReserves()">
  <div class="mdl-grid">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Usuario</th>
          <th>Pessoas</th>
          <th>Reserva efetuada ás</th>
          <th>No dia</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody id="reserves">
        <!-- MDL Spinner Component -->
        <tr id="loader">
        <td></td>
        <td></td>
        <td><div class="mdl-spinner mdl-js-spinner is-active" style="margin-left: 12%;"></div></td>
        <td></td>
        <td></td>
        </tr>
        <script id="reserve_template" type="text/template">
              {{#reserves}}
              <tr>
                  <td class="mdl-data-table__cell--non-numeric" data-id="{{ _id }}">{{ username }}</td>
                  <td data-id="{{ _id }}">{{ numberOfPeople }}</td>
                  <td data-id="{{ _id }}">{{ hour }}</td>
                  <td data-id="{{ _id }}">{{ date }}</td>
                  <td data-id="{{ _id }}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="width: 80%;" 
                            data-id="{{ _id }}" onclick="saveReserveId(this)">Ver</button>
                  </td>
              </tr>
              {{/reserves}}
          </script>
      </tbody>
    </table>
  </div>
  <!-- SCRIPT -->
  <script src="http://api-reserveja-prod.herokuapp.com/socket.io/socket.io.js"></script>
  <script src="./js/libs/jquery.3.3.1.min.js"></script>
  <script src="./js/libs/mustache.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="./js/reserve.js"></script>
  <script src="./js/pages.js"></script>
</body>

</html>